.todo-item {
  text-align: left;
  display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr min-content;

  &--done {
    background: greenyellow;
    opacity: 0.8;

    & .todo-item__title,
    & .todo-item__text {
      text-decoration: line-through;
    }
  }

  &__title {
    margin: 0 0 20px;
  }

  &__text {
    margin: 0 0 20px;
    grid-row: 2;
  }

  &__btns-wrapper {
    display: flex;
    grid-row: 3;
  }

  & button {
    align-self: center;
  }
}