.todo-list {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  list-style: none;
  width: 95%;
  border: 1px solid rgb(34, 136, 252);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &-item {
    display: inline-block;
    margin-right: 10px;
  }

  &-enter-active,
  &-leave-active {
    transition: all 1s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
}